{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Connexion à l'application - Particulier{% endblock %}
{% block body %}
    <div class="app formApp">
        {{ include('layout/navbar/index-alt.html.twig') }}
        <div class="vh-100">
            <div class="formContainer position-absolute w-100">
                <div class="row h-100 mx-0">
                    <div class="col-6 px-0 d-flex justify-content-end">
                        <div class="formBlock col-7 mr-5 my-5 py-2 px-5 bg-white text-center d-flex flex-column justify-content-around">
                            {% if app.user %}
                                <div class="card border-0 mt-5">
                                    <div class="alreadyConnectedTitle h3 text-center mb-5">Vous êtes déja connecté !</div>
                                    <div>
                                        <a href="{{ path('app_home') }}" class="btn validateBtn mr-2">Accueil</a>
                                        <a href="{{ path('app_customer_logout') }}" class="btn returnBtn ml-2">Déconnexion</a>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <div class="formTitle mt-3 text-left">Bienvenue</div>
                                    <div class="formSubTitle mt-3 text-left">Connectez-vous à votre compte CheFinder !</div>
                                </div>
                                <form method="post" class="mt-4 d-flex flex-column align-content-around">
                                    <label for="inputEmail" class="text-left">Votre email</label>
                                    <input type="email" id="inputEmail" class="" name="email" placeholder="Masked@bandit.com" required>
                                    <label for="inputPassword" class="text-left mt-4">Mot de passe</label>
                                    <div class="input-group">
                                        <input type="password" id="inputPassword" class="pwdInput" name="password" placeholder="*********" data-toggle="password" required>
                                        <div class="input-group-append pwdInputEye">
                                            <span class="input-group-text"><i class="fa fa-eye" style="width: 20px; color: #EFAF00"></i></span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    {% if errors.pwd_confirm is defined %}
                                        <label for="user_customer_register[confirmPassword]" class="small text-danger">{{ errors.pwd_confirm }}</label>
                                    {% endif %}
                                    <button type="submit" class="formSubmitBtn btn text-white second mt-5 mb-4 mx-auto">Se connecter</button>
                                </form>
                                <div class="">
                                    <div class="formText">Vous n'avez pas encore de compte ?</div>
                                    <a class="formBtn" href="{{ path('app_customer_register') }}">Inscrivez-vous</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6 px-0 d-flex">
                        <img src="{{ asset('build/images/slides/mobile-screen.png') }}" alt="Mobile screen" title="Mobile screen"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute pb-1 w-100" id="socialIcons" style="z-index: 1">
            <a href="https://facebook.com" class="mx-2" title="Page Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com" class="mx-2" title="Page Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://linkedin.com" class="mx-2" title="Page Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://youtube.com" class="mx-2" title="Chaine Youtube"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
{% endblock %}
