{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="app">
    {{ include('layout/navbar/index.html.twig') }}
    <div class="vh-100 swiper mySwiper">
        <div class="swiper-wrapper">
            {{ include('home/slides/hello.html.twig') }}
            {{ include('home/slides/presentation.html.twig') }}
            {{ include('home/slides/cookingtypes.html.twig') }}
            {{ include('home/slides/recipes.html.twig') }}
            {{ include('home/slides/chiefs.html.twig') }}
            {{ include('home/slides/calendar.html.twig') }}
            {{ include('home/slides/summary.html.twig') }}
            {{ include('home/slides/payment.html.twig') }}
            {{ include('home/slides/confirm.html.twig') }}
        </div>
        <div class="swiper-pagination col-1 d-flex flex-column justify-content-around"></div>
    </div>
    <div class="position-absolute pb-1 w-100" id="socialIcons" style="z-index: 1">
        <a href="https://facebook.com" class="mx-2" title="Page Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com" class="mx-2" title="Page Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://linkedin.com" class="mx-2" title="Page Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://youtube.com" class="mx-2" title="Chaine Youtube"><i class="fa-brands fa-youtube"></i></a>
    </div>
</div>

{% endblock %}
