<nav class="position-absolute w-100" id="navbar">
    <div class="d-flex justify-content-between mx-5">
        <div class="d-flex align-items-end">
            <div id="logo" class="navbar-brand mr-5">
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('build/images/layout/white-logo.png') }}" alt="Logo ChieFinder" title="Logo" style="width: 60px;"/>
                </a>
            </div>
            <div class="nav-item mx-2 mb-2 text-center">
                <a class="nav-link pb-0" href="{{ path('app_orders') }}">Réservation</a>
                <i class="fas fa-circle text-center menuItemDot"></i>
            </div>
            <div class="nav-item mx-2 mb-2 text-center">
                <a class="nav-link pb-0" href="{{ path('app_chief_list') }}">Les chefs</a>
                <i class="fas fa-circle text-center menuItemDot"></i>
            </div>
            <div class="nav-item mx-2 mb-2 text-center">
                <a class="nav-link pb-0" href="{{ path('app_about_us') }}">Qui sommes-nous ?</a>
                <i class="fas fa-circle text-center menuItemDot"></i>
            </div>
            <div class="nav-item mx-2 mb-2 text-center">
                <a class="nav-link pb-0" href="{{ path('app_contact') }}">Contact</a>
                <i class="fas fa-circle text-center menuItemDot"></i>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a class="nav-item mr-4" href="{{ path('app_cart') }}" id="NavCartBtn">
                <img src="{{ asset('build/images/layout/cart.svg') }}" alt="Panier" title="Panier">
            </a>
            <a class="btn my-auto px-4 py-2" id="NavLoginBtn" href="{{ path('app_customer_login') }}" title="Connexion">Connexion</a>
        </div>
    </div>
</nav>