{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Créer un compte chef{% endblock %}
{% block body %}
    <div class="app formApp">
        {{ include('layout/navbar/index-alt.html.twig') }}
        <div class="vh-100">
            <div class="formContainer position-absolute w-100">
                <div class="row h-100 mx-0">
                    <div class="col-6 px-0 d-flex justify-content-end">
                        <div class="formBlock col-7 mr-5 my-5 py-2 px-5 bg-white text-center d-flex flex-column justify-content-around">
                            {% if app.user %}
                                <div class="card border-0 mt-5">
                                    <div class="card-title text-center mt-5">Vous êtes déja connecté !</div>
                                    <div class="card-body">
                                        <a href="{{ path('app_chief_login') }}" class="btn btn-success">Retour à la connexion</a>
                                        <a href="{{ path('app_chief_logout') }}" class="btn btn-primary">Déconnexion</a>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <div class="formTitle mt-3 text-left">Bienvenue</div>
                                    <div class="formSubTitle mt-3 text-left">Il est temps de se créer un compte !</div>
                                </div>
                                <form method="post" class="mt-4 d-flex flex-column align-content-around">
                                    {{ form_start(userChiefAddForm) }}
                                    <div class="form-group">{{ form_widget(userChiefAddForm.firstName) }}</div>
                                    <div class="form-group">{{ form_widget(userChiefAddForm.lastName) }}</div>
                                    <div class="form-group">{{ form_widget(userChiefAddForm.email) }}</div>
                                    <div class="form-group">{{ form_widget(userChiefAddForm.phoneNumber) }}</div>
                                    <div class="form-group">{{ form_widget(userChiefAddForm.company) }}</div>
                                    <div class="input-group form-group">
                                        {{ form_widget(userChiefAddForm.password) }}
                                        <div class="input-group-append pwdInputEye">
                                            <span class="input-group-text"><i class="fa fa-eye" style="width: 20px; color: #EFAF00"></i></span>
                                        </div>
                                    </div>
                                    {% if errors.pwd_confirm is defined %}
                                        <label for="user_customer_register[confirmPassword]" class="small text-danger">{{ errors.pwd_confirm }}</label>
                                    {% endif %}
                                    <div class="input-group form-group">
                                        {{ form_widget(userChiefAddForm.confirmPassword) }}
                                        <div class="input-group-append pwdInputEye">
                                            <span class="input-group-text"><i class="fa fa-eye" style="width: 20px; color: #EFAF00"></i></span>
                                        </div>
                                    </div>
                                    {% if errors.pwd_confirm is defined %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <button type="submit" class="formSubmitBtn btn text-white second mt-3 mb-4 mx-auto" style="width: fit-content">S'inscrire</button>
                                    {{ form_end(userChiefAddForm) }}
                                    <div class="">
                                        <div class="formText">Vous avez déja un compte CheFinder ?</div>
                                        <a class="formBtn" href="{{ path('app_chief_login') }}">Connectez-vous</a>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6 px-0 d-flex">
                        <img src="{{ asset('build/images/mobile-screen.png') }}" alt="Mobile screen" title="Mobile screen"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute pb-1 w-100" id="socialIcons" style="z-index: 1">
            <a href="https://facebook.com" class="mx-2" title="Page Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com" class="mx-2" title="Page Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://linkedin.com" class="mx-2" title="Page Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://youtube.com" class="mx-2" title="Chaine Youtube"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
{% endblock %}